MENU

<nav *ngFor="let item of _foodGroupDict | keyvalue">
    <a href=#{{item.key}}>{{item.key}}</a>
</nav>
<br><br>

Table Number: <input type="text" [(ngModel)]="tableNum">


<div *ngFor="let item of _foodGroupDict | keyvalue">
    <div>
        {{item.key}}
        <a name={{item.key}}></a>
    </div>
    <li *ngFor="let food of item.value">
        <span (click)="onSelect(food)">{{food.foodName}}</span>
        <span style="margin-left: 30px">{{food.price | currency}}</span>
        <button style="margin-left: 30px" (click)="foodIncrease(food)">+</button>
        <span *ngIf="!orderedFood[food.foodName]">
            0
        </span>
        <span *ngIf="orderedFood[food.foodName] != 0">
            {{orderedFood[food.foodName]}}
        </span>
        <button (click)="foodDecrease(food)">-</button>
        <button (click)="deleteFood(food._id, food.foodName)" style="margin-left: 30px">Delete</button>
        <button (click)="editFood(food._id)" style="margin-left: 30px">Edit</button>
        <div *ngIf="selectedFood === food">
            {{food.description}}
        </div>
    </li>
</div>

<br>
Total Price: {{totalPrice | currency}}

<br>

<td><input type="button" (click)="submitOrder()" value="Submit Order"></td>
<td><input type="button" (click)="clearOrder()" value="Clear Order"></td>


<br>
<a routerLink="admin/addFood" routerLinkActive="active">Add Food</a>

<br>
<td><input type="button" (click)="orderHistory()" value="Order History"></td>
<br>
{{_errorMessage}}



<div *ngIf="showHistory">
    <div *ngFor="let item of historyOrder | keyvalue">
        {{item.key}} * {{item.value}}
    </div>
    Total Price: {{historyPrice |currency }}
</div>
