MENU

<nav *ngFor="let item of _foodGroupDict | keyvalue">
    <a href=#{{item.key}}>{{item.key}}</a>
</nav>
<br><br>


<div *ngFor="let item of _foodGroupDict | keyvalue">
    <div>
        {{item.key}}
        <a name={{item.key}}></a>
    </div>
    <li *ngFor="let food of item.value" (click)="onSelect(food)">
        {{food.foodName}} 
        <span style="margin-left: 30px">{{food.price | currency}}</span>
        <button (click)="deleteFood(food._id, food.foodName)" style="margin-left: 30px">Delete</button>
        <button (click)="editFood(food._id)" style="margin-left: 30px">Edit</button>
        <div *ngIf="selectedFood === food">
            {{food.description}}
        </div>
    </li>
</div>



<a routerLink="admin/addFood" routerLinkActive="active">Add Food</a>